.entry-limit-container {
  margin-bottom: 20px;
  text-align: center;
}

.entry-limit-container label {
  margin-right: 10px;
  font-weight: bold;
  color: #2cd7ce;
}

.limit-input {
  padding: 5px;
  border: 1px solid #ddd; 
  border-radius: 3px; 
  width: 60px;
  text-align: center;
  font-family: Arial, sans-serif; 
}

.edit-database-container {
  display: flex;
  gap: 20px;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.left-section {
  width: 25%;
  text-align: center;
}

.profile-circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #c0c0c0;
  margin: 0 auto 10px;
}

.profile-name {
  font-weight: bold;
  font-size: 1.2rem;
  color: #6ab3e7;
}

.pie-chart {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #474E9E; 
  margin: 10px auto;
}

.chart-label {
  font-weight: bold;
  color: #6ab3e7;
}

.data-section,
.saved-section {
  flex: 1;
}

.section-title {
  color: #474E9E;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.data-item {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 0.8rem;
}

.data-item h3 {
  font-size: 1.2rem;
  color: #474E9E;
}

.action-buttons {
  margin-top: 10px;
}

.delete-button,
.edit-button {
  background-color: #474E9E;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 3px;
}

.saved-users li {
  list-style: none;
  font-size: 1rem;
  margin: 5px 0;
}

.saved-graph {
  margin-bottom: 20px;
  text-align: center;
}

.saved-graph h3 {
  color: #474E9E;
  font-size: 1.2rem;
}

.noteslist p {
  position: relative;
}