.center-text-container {
    text-align: center; /* Center-align text horizontally */
}

.gateway-dropdown {
    display: flex;
    padding: 20px;
    justify-content: center;
}

.gateway-dropdown-container {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center; /* Optional: Center the dropdowns */
    gap: 20px; 
}

#dropdown-profile:focus,
#dropdown-profile:active {
    border-color: transparent;
    box-shadow: none; /* Remove any box shadow */
}

.gateway-dropdown-toggle {
    border: 1.75px solid #8C68CD;  /* Set background color */
    background-color: #8C68CD26;
    font-size: 24px;
    color: #8C68CD !important;             
    padding: 20px;         /* Adjust padding for the button */
    width: 300px;
    border-radius: 0.5rem;   
  }
  
 /* Add focus and active outline to ensure the border is maintained */
.gateway-dropdown-toggle:focus,
.gateway-dropdown-toggle:active {
    background-color: #8C68CD; 
    border: 1.75px solid white;
    color: white !important;
}
  .gateway-dropdown-menu {
    background-color: #3a3a3a !important;  /* Set background color of the dropdown menu */
    border-radius: 5px !important;         /* Rounded corners */
    min-width: 300px !important;           /* Increase the minimum width */
    width: auto !important;                /* Allow it to grow if needed */
    padding: 10px !important;              /* Add padding inside the dropdown */

  }
  
  .gateway-dropdown-item {
    color: white !important;                /* Set text color of the items */

  }
  
  .gateway-dropdown-item:hover {
    /* background-color: #3a3a3a !important;   */
    background-color: #8C68CD !important;  
    color: white !important;             /* Change text color on hover */
    border-radius: 0.5rem;
  }

  .gateway-dropdown-toggle:hover {
    /* background-color: #3a3a3a !important;   */
    background-color: #8C68CD !important;  
    border-color: #8C68CD;
    color: white !important;             /* Change text color on hover */
  }


  .return {
    display: flex;
    justify-content: center;
    margin-top: 75px;
  }
