@import url('https://fonts.googleapis.com/css2?family=Saira:wght@300;400;500;600;700&display=swap');

.homebtn {
  border-radius: 0.5rem;
  background-color: #E6EDFA;
  border: 2px solid #1F3A8A;
  color: #1F3A8A;
  text-align: center;
  font-size: 22px;
  padding: 18px;
  width: 300px;
  cursor: pointer;
  margin: 35px;
  transition: background-color 0.25s ease, color 0.15s ease;
  font-family: "Saira", sans-serif;
}



.homebtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}

.homebtn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.homebtn:hover span {
  padding-right: 25px;
}

.homebtn:hover span:after {
  opacity: 1;
  right: 0;
}

.homebtn:hover {
  background-color: #1F3A8A;
  color: white;
}



 .home-container {
    padding: 20px;
    width: 100%; /* Ensure it spans the full width of the parent container */
    max-width: 85vw; /* Set a maximum width to prevent it from becoming too wide */
    margin: 0 auto; /* Center the container horizontally */
    box-sizing: border-box; /* Include padding in the width calculation */
    }
  
  .about-title {
    color: #8C68CD;
    font-size: 2.5rem;
    /* font-weight: bold; */
    margin-bottom: 20px;
    text-align: center;
    font-family: "Saira", sans-serif;
  } 
 
  .about-content {
    font-size: 1.1rem;
    line-height: 1.6;
    color: rgb(196, 196, 196);
    margin-bottom: 40px;
    margin-top: 40px;
    font-family: "Saira", sans-serif;
    text-align: center;
  }
  
  .about-grid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .reverse {
    flex-direction: row-reverse;
  }
  
  .text-box {
    width: 50%;
    padding: 20px;
    font-size: 1rem;
    color: rgb(196, 196, 196);
  }
  
  .placeholder-box {
    width: 45%;
    height: 200px;
    background-color: #d9d9d9;
    border: 1px solid #ccc;
  } 

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 120vw;
}

table {
  width: 90%;
  margin: auto;
  border-collapse: collapse;
  border: 2px solid rgb(255, 255, 255);
}
th, td {
  border: 1px solid white;
  padding: 15px;
  text-align: center;
}
th {
  background-color: rgb(255, 255, 255);
  color: #1459e4;
  font-size: 18px;
}
.period {
  color: #ffcc00;
  font-weight: bold;
  font-size: 16px;
}

.edit-icon-btn {
  background-color: #40BB8226;
  border: 2px solid #40BB82;  
  color: #40BB82;
  width: 50px;
  height: 50px;
  border-radius: 0.5rem;   
  display: flex;
  justify-content: center;
  align-items: center;        
  margin: auto;     
  margin-bottom: 10px;  
  transition: background-color 0.3s, color 0.1s; /* Set a faster transition for color */  
}

.edit-icon-btn:hover {
  background-color: #40BB82;
  border: 2px solid #40BB82;  
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 0.5rem;   
  display: flex;
  justify-content: center;
  align-items: center;        
  margin: auto;     
  margin-bottom: 10px;  
  
}

.save {
  background-color: #40BB8226;
  border: 2px solid #40BB82;  
  color: #40BB82;
  border-radius: 0.5rem;   
  transition: background-color 0.3s, color 0.1s; /* Set a faster transition for color */

}

.save:hover {
  background-color: #40BB82;
  border: 2px solid #40BB82;  
  color: white;
  border-radius: 0.5rem;   
}

.cancel {
  background-color: #EE635226;
  border: 2px solid #EE6352;  
  color: #EE6352;
  border-radius: 0.5rem;   
  transition: background-color 0.3s, color 0.1s; /* Set a faster transition for color */

}

.cancel:hover {
  background-color: #EE6352;
  border: 2px solid #EE6352;  
  color: white;
  border-radius: 0.5rem;   
}

.form-container {
  display: flex;
  flex-direction: column;
  margin-left: 20vw;
  margin-right: 20vw;
}

.send {
  background-color: #8C68CD26;
  border: 1.75px solid #8C68CD;
  color: #8C68CD;
  padding: 20px;
  border-radius: 0.5rem;
  font-size: 2rem;
  font-family: "Saira", sans-serif;
  transition: background-color 0.3s, color 0.1s; /* Set a faster transition for color */
}

.send:hover {
  background-color: #8C68CD;
  border: 1.75px solid #8C68CD;
  color: white;
  padding: 20px;
  border-radius: 0.5rem;
  font-size: 2rem;
  font-family: "Saira", sans-serif;
}

.table-header-edit{
  width: 15%;
}

.highcharts-credits {
  display: none;
}