
.btn {
  padding: 0.5rem 1.25rem !important;
  border-radius: 0 !important;              
  background-color: #1f3a8a !important;     
  border: 1px solid white !important;      
  color: white !important;

  font-family: "Cinzel", serif;
  font-size: 0.85rem;
  font-weight: 500;
  letter-spacing: 0.05em;

  transition: background-color 0.15s ease, color 0.15s ease;
}


.btn:hover {
  background-color: #b7dcff !important; 
  color: #f8fafc !important;
}


.btn:active {
  background-color: #b7dcff !important;
  color: #f8fafc !important;
}


.btn:focus,
.btn:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}


.btn-primary,
.btn-secondary {
  background-color: #1f3a8a !important;
  border: 1px solid white !important;
  color: white !important;
}
