@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

.map-display { 
    width: 80%;
    height: 400px;
    margin: 0 auto;
    border-radius: 0.5rem;
}

.map-title {
  font-size: 30px;
  font-family: "Trajan Pro", "Cinzel", serif;
  color: #1F3A8A;          
  text-align: center;      
  display: flex;           
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;         
  margin: 0 auto 12px;
}
