.navbar-wrapper {
  width: 100%;
  position: relative;
  z-index: 1000;
}

/* TOP BAR */
.navbar-top {
  background-color: #aed6fc;
  width: 100%;
}

.navbar-top-inner {
  width: 100%;
  padding: 0.75rem 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo {
  height: 42px;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 12px;
}


/* BOTTOM BAR */
.navbar-bottom {
  background-color: #1f3a8a; 
  width: 100%;
}

.navbar-bottom-inner {
  padding: 0.35rem 2rem;

  display: flex;
  justify-content: center;
  gap: 2.5rem;
}

.nav-link {
  font-family: "Cinzel", "Trajan Pro", serif;
  color: #ffffff;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
}

.nav-link:hover {
  text-decoration: bold;
}

.nav-link,
.nav-link:visited,
.nav-link:active,
.nav-link:focus {
  color: white !important;
}

.nav-link.active {
  color: #aed6fc;   
  font-weight: 600;
}

.login-button,
.logout-button {
  font-family: "Cinzel", serif;
  color: #ffffff;
  font-size: 0.9rem;
}
